* {
  box-sizing:border-box;
}

html{
  font-size: 10px;
}




/***HOMEPAGE***/
/***hero section***/
.inline {
  display: inline;
}

.hero-container {
  width: 75%;
}

.hero-section {
  margin-left: auto;
  margin-right: auto;
}


.hero-copy h1 {
  text-align: left;
}

.hero-copy h3 {
  font-weight: 400;
  text-align: left;
}

#hero-section{
  background: rgba(124, 186, 224, 0.1);
  background-size: cover;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  height: 80rem;
  line-height: 1.6rem;
  max-width: auto;
  margin: auto;
  padding: 2rem;
  width: 100%;
}


.hero-copy {
  line-height: 1.6rem;
}


.location {
  display: inline;
  justify-content: center;



}

.location i {
  color: #159AB5;
  padding-left: 0rem;
  padding-top: 2rem;
  position: ;
}


.typer {
  color: #12344B;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.6rem;
  text-align: left;
  text-decoration: none;
}

/*Hero Image*/
.heroimg-container {
  display:block;
  position:relative;
  z-index: -10;
}




/*Project Section*/
#pothos {
  background-color: #ffffff;
  padding: 12%;
  text-align: center;
  width: 100%;
}







.project button {
  margin-top: 1rem;
}


@media screen and (min-width: 600px){
  .hero-image {

      max-height: 559px;
      max-width: 440px;

    }

    .topnav ul {
      display:flex;
      float:right;
    }

    .white {
      padding: 20%;
    }

    .blue {
      padding: 20%;
    }



  }


/***ABOUT PAGE***/

.about-hero {
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("../images/sf-headshot.jpg");
  background-size: cover;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  height: 50rem;
  max-width: 100%;
}

#photography {
  padding: 12%;
  text-align: center;
}

.about h3 {
    padding-top: 5rem;
  }

@media screen and (min-width: 450px) {
  .about-hero {
    height:110rem;
  }
}

@media screen and (min-width: 800px) {
  .about-hero {
    background-color: rgba(124, 186, 224,0.1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
    height: 50rem;
    max-width: 100%;
  }



/***PHOTO PAGE***/
.photo-gallery {
  display: inline-block;
}


.photo-gallery img{
  padding-top: 0rem;
}

}
.photos-hero {
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("../images/hiking.jpg");
  background-size: cover;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  height: 50rem;
  max-width: 100%;
}

@media screen and (min-width: 450px) {
  .photos-hero {
    height:80rem;
  }
}

@media screen and (min-width: 800px) {
  .photos-hero {
    background-color: rgba(124, 186, 224,0.1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50rem;
    max-width: 100%;
  }






/***POTHOS***/
/***hero***/
.pothos-hero {
  background-image: url("../images/pothos_mockup.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 50rem;
  max-width: auto;
}

@media screen and (min-width: 1200px) {

  /***POTHOS user personas***/
  .pothos-hero {
    height: 100rem;
  }

  .photos-hero {
    height:100rem;
  }

  .about-hero {
    height:100rem;
  }

.persona-flex {
  align-items: stretch;
  display: flex;
}


p.persona {
  padding-bottom: 0rem;
}
.persona {
  border-left: .1rem solid grey;
  padding: 4rem;
  flex-basis: 600px;
}

.persona#billy {
  border-right: .1rem solid grey;
}





/*Roles, Responsibilities, Tools*/
  #double li  {
    display: block;
    float:left;
    width:50%;
   }

}

/*Containers*/
.body-container {
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90rem;
  padding-left: 4rem;
  padding-right: 4rem;
}


.widebody-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: auto;
}




/*Survey Results*/
.survey-data {
  padding-bottom: 5rem;
  padding-top: 0rem;
}

element.style {
  max-height: 97rem;
  max-width: 97rem;
}


/*Color Palette*/


.swatch {
  display:inline-block;
}

.swatch div:first-of-type {
  border-radius: 50%;
  border: .25px solid grey;
  height: 100px;
  margin: 2rem;
  width: 100px;
}

.swatch-text p  {
  text-align: center;
}

.swatch-color1 {
  background: #FFFFFF;
}

.swatch-color2 {
  background: #FBFFFB;
}

.swatch-color3 {
  background: #F1F4F0;
}

.swatch-color4 {
  background: #BDBDBD;
}

.swatch-color5 {
  background: #F2A27C;
}

.swatch-color6 {
  background: #D2E5DB;
}

.swatch-color7 {
  background: #497E68;
}
.swatch-color8 {
  background: #434344;
}

.swatch-color9 {
  background: #FAC7AF;
}
}






/***overview***/

.box {
  align-items: center;
  display:inline-block;
  padding-top: 10rem;
}

#pronunciation {
  font-family: "Playfair Display", serif;
  line-height: 3.5rem;
}

#ex-space {
padding-top: 5rem;
}



.phases {
  align-items: center;
  background: rgba(18, 52, 75, 0.75);
  color: #FFFFFF;
  display: flex;
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: 700;
  height: 7.8rem;
  justify-content: center;
}

/***sections***/

#project-overview {
  display:inline-block;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.white {
  background-color: #ffffff;
  padding: 12%;
  text-align: center;
}

.blue {
  background-color: #F2F8FC;
  padding: 12%;
  text-align: center;
}

.section-container {
  padding-top: 30px;
}

.column_one {
  float:left;
  padding-bottom: 5%;
}

.column_two {
  float: right;
  padding-bottom: 5%;

}

.flex {
  padding-bottom: 2rem;

}

/*Survey*/
.survey-data h4, h6 {
  line-height: 3;
}

.survey-data h4 {
  padding-right: .5rem;
}


/***user personas***/

.persona-intro {
  padding-bottom: 10rem;
}


.center {
  text-align: center;
}

.goals, .frustrations {
  line-height: 2.5rem;
  list-style:unset;
  text-align: left;
}

.goals, .frustrations, .motivations {
  padding: 1rem 1rem;
}

/***competive anlys images***/
.competition {
  display: block;
  flex: 33.33%;
  max-height:4.3rem;
  padding: 0%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 8.5rem;
}

.row {
  display: flex;
}

a:hover {
  background-color: #4148C5;
  color: #FFFFFF;
  text-decoration: none;
}



/***Contact Section***/
.chat {
  background: rgba(124, 186, 224, 0.1);
  padding-top: 10rem;
  padding-bottom: 10rem;

}

.chat p {
  line-height: 0rem;
  padding-top: 0rem;
}

.chat h1 {
  padding: 0;
}

.chat a {
  text-decoration: none;
}

#contact.body-container {
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;

}

input[type="text"], input[type="email"], textarea {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  font-family: "Monserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  margin: .5rem;
  padding-bottom: 2rem;
  padding-left: .25rem;
  width: 100%
}

input[type="submit"] {
  background-color: transparent;
  border: 2px solid #4148C5;
  border-radius: 2px;
  color: #4148C5;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  font font-family: "Monserrat", sans-serif;
  margin-top: 4rem;
  padding: 10px 41px;
  width: 100%;

}

input[type="submit"]:hover {
    background-color: #4148C5;
    color: white;
  }

form{
  max-width: 50rem;
}


/***SHARED COMPONENTS***/
i {
  font-size: 2.6rem;
}

img {
  height: auto;
  max-width:100%;
  padding: 5%;
}



/***Buttons***/
.btn {
  background-color: white;
  border: 2px solid #4148C5;
  border-radius: 2px;
  color: #4148C5;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  font font-family: "Monserrat", sans-serif;
  margin-top: 4rem;
  padding: 10px 41px;
}

.btn:hover {
  background-color: #4148C5;
  color: white;
}



/***NAVIGATION***/
.topnav {
  background-color: #FFFCF5;
  overflow: hidden;
}

.topnav a {
  color: #12344B;
  display: block;
  float:left;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 5.5rem;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: transparent;
  border-bottom: medium solid #7CBAE0;
  color: #7CBAE0;
}




.topnav .icon {
  display: none;
}

.logo {

  margin-left: inherit;
  text-decoration: none;
  vertical-align: middle;

}

a.active {
    color: #4148C5;
}



@media screen and (max-width: 600px) {

  /*Navigation*/
  .topnav li {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li  {
    float: none;
    display: block;
    text-align: left;
    text-decoration: none;
  }

.topnav.responsive a {
  float:none;
  text-align: left;
}

/*Pothos Color Palette*/
.swatch div:first-of-type {
  border-radius: 50%;
  border: .25px solid grey;
  height: 50px;
  margin: 2rem;
  width: 50px;
}

.swatch-text p  {
  font-size: 1rem;
  padding:0rem;
}




 /*Photos page - make one column*/
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

}
/* Responsive layout - makes a two column-layout instead of one column */
@media screen and (min-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}


/***Footer***/
.footer p {
  font-size: 1rem;
  padding: 0%;
  position:relative;
  text-align: center;
}

.footer h3 {
  line-height: 2.6rem;
  text-transform: none;
  padding-top: 0rem;
}

footer {
  background-color: #7CBAE0;
  line-height: 1.6rem;
  padding-top: 3rem;
  text-align: center;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  background-color: transparent;
}

/***icon styling***/
i {
  color: #12344B;
  padding: 1rem;
  padding-top: 3rem;

}

.footer-links {
  text-align: center;
}




/***Typography***/
h1 {
  color:#12344B;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.h1 {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.h2 {
  padding-top: 4rem;
}
h3 {
  color:#12344B;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}
h4 {
  color:#12344B;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}
h5 {
  color:#12344B;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  padding-top: .5rem;
  padding-bottom: .5rem;

}
h6 {
  color:#12344B;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.0rem;
  padding-top: 1rem;
}

p {
  color:#12344B;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 3.5rem;
  padding-top: 1rem;
  text-align: left;
}




b {
  font-weight: 700;
}

li {
  color:#12344B;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  font-size: 1.6rem;
}

a {
  color: #4148C5;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 5.5rem;
}

.centered {
  text-align: center;
}

ul, li{
  list-style-position: outside;

  font-size: 1.6rem;

}









/***MEDIA QUERIES***/


@media only screen and (min-width: 800px) {
  h1 {
    font-size: 5.6rem;
  }

  .h2 {
    font-size: 4.8rem;
    padding-top: 10rem;
  }

  h3 {
    font-size: 3.6rem;
    font-weight: 400;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

h3.footer {
  line-height: 3.5rem;
  padding-bottom: 2rem;
}

h3#padding {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

  h4, span.typer {
    font-size: 3rem;
  }

  span#main.typer{
    line-height: 3.5rem;

  }



  h5 {
    font-size: 2.4rem;
  }

  h6 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.8rem;
    padding-bottom: .5rem;
  }

.phases {
  font-size: 4.8rem;
}


.container {
  max-width: 90rem;
}

/***INDEX.HTML***/
div.project-flex {
  align-items: center;
  display: flex;
  padding:0rem;

}

.image-container, .project-container {
  width: 50%;
}


/***PROJECT.HTML***/
.flex {
  display: flex;
}

.prob-solution-flex {
  align-items: baseline;
  display: flex;
}

.prob-solution-flex div {
  padding: 5%;
}

.hero-img {
  padding:0rem;
}

.hero-section {
  padding: 8rem;
}


.flex img {
  padding-bottom: 0rem;
}


.roles, .responsibilities, .tools {
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  text-align: center;
  width: 33.33%
}



p.roles {
  text-align: center;
}


.chart-container {
  width: 80%;
  margin: 2rem auto;
}
}










  @media screen and (min-width: 550px) {
    /***Homepage***/
      #hero-section{
        align-items: center;
        background: rgba(124, 186, 224, 0.1);
        background-size: cover;
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
        line-height: 1.6rem;
        max-width: auto;
        padding: 5rem;
      }

.hero-container h1 {
  line-height: 1;
}


  }
